$background: #F0ECE3;
$logo: #ebebeb;
$secondair: #cbc8c8;
$third: #af9f8e;

$gradient: linear-gradient(to bottom right, #8cc9d5, #bd737e);


$dark: #7c7893;
$darkmode__background: #413229;
$gradient--darkmode: linear-gradient(to bottom right, #82cce1, #65365f);